.pcallme-form {
  /* MY OWN */ }
  .pcallme-form * {
    box-sizing: border-box; }
  .pcallme-form .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2; }
  .pcallme-form .close:hover,
  .pcallme-form .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5; }
  .pcallme-form button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0; }
  .pcallme-form .modal-open {
    overflow: hidden; }
  .pcallme-form .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0; }
  .pcallme-form .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%); }
  .pcallme-form .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0); }
  .pcallme-form .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px; }
  .pcallme-form .modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }
  .pcallme-form .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000; }
  .pcallme-form .modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0; }
  .pcallme-form .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5; }
  .pcallme-form .modal-header {
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5; }
  .pcallme-form .modal-header .close {
    margin-top: -2px; }
  .pcallme-form .modal-title {
    margin: 0;
    line-height: 1.42857143; }
  .pcallme-form .modal-body {
    position: relative;
    padding: 20px; }
  .pcallme-form .modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5; }
  .pcallme-form .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px; }
  .pcallme-form .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .pcallme-form .modal-footer .btn-block + .btn-block {
    margin-left: 0; }
  @media (min-width: 768px) {
    .pcallme-form .modal-dialog {
      width: 600px;
      margin: 30px auto; }
    .pcallme-form .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
    .pcallme-form .modal-sm {
      width: 300px; } }
  @media (min-width: 992px) {
    .pcallme-form .modal-lg {
      width: 900px; } }
  .pcallme-form .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
  .pcallme-form .btn:focus,
  .pcallme-form .btn:active:focus,
  .pcallme-form .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .pcallme-form .btn:hover,
  .pcallme-form .btn:focus {
    color: #333;
    text-decoration: none; }
  .pcallme-form .btn:active,
  .pcallme-form .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .pcallme-form .btn.disabled,
  .pcallme-form .btn[disabled],
  .pcallme-form fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65; }
  .pcallme-form .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc; }
  .pcallme-form .btn-default:hover,
  .pcallme-form .btn-default:focus,
  .pcallme-form .btn-default:active,
  .pcallme-form .btn-default.active,
  .pcallme-form .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad; }
  .pcallme-form .btn-default:active,
  .pcallme-form .btn-default.active,
  .pcallme-form .open .dropdown-toggle.btn-default {
    background-image: none; }
  .pcallme-form .btn-default.disabled,
  .pcallme-form .btn-default[disabled],
  .pcallme-form fieldset[disabled] .btn-default,
  .pcallme-form .btn-default.disabled:hover,
  .pcallme-form .btn-default[disabled]:hover,
  .pcallme-form fieldset[disabled] .btn-default:hover,
  .pcallme-form .btn-default.disabled:focus,
  .pcallme-form .btn-default[disabled]:focus,
  .pcallme-form fieldset[disabled] .btn-default:focus,
  .pcallme-form .btn-default.disabled:active,
  .pcallme-form .btn-default[disabled]:active,
  .pcallme-form fieldset[disabled] .btn-default:active,
  .pcallme-form .btn-default.disabled.active,
  .pcallme-form .btn-default[disabled].active,
  .pcallme-form fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc; }
  .pcallme-form .btn-default .badge {
    color: #fff;
    background-color: #333; }
  .pcallme-form .btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd; }
  .pcallme-form .btn-primary:hover,
  .pcallme-form .btn-primary:focus,
  .pcallme-form .btn-primary:active,
  .pcallme-form .btn-primary.active,
  .pcallme-form .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e; }
  .pcallme-form .btn-primary:active,
  .pcallme-form .btn-primary.active,
  .pcallme-form .open .dropdown-toggle.btn-primary {
    background-image: none; }
  .pcallme-form .btn-primary.disabled,
  .pcallme-form .btn-primary[disabled],
  .pcallme-form fieldset[disabled] .btn-primary,
  .pcallme-form .btn-primary.disabled:hover,
  .pcallme-form .btn-primary[disabled]:hover,
  .pcallme-form fieldset[disabled] .btn-primary:hover,
  .pcallme-form .btn-primary.disabled:focus,
  .pcallme-form .btn-primary[disabled]:focus,
  .pcallme-form fieldset[disabled] .btn-primary:focus,
  .pcallme-form .btn-primary.disabled:active,
  .pcallme-form .btn-primary[disabled]:active,
  .pcallme-form fieldset[disabled] .btn-primary:active,
  .pcallme-form .btn-primary.disabled.active,
  .pcallme-form .btn-primary[disabled].active,
  .pcallme-form fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd; }
  .pcallme-form .btn-primary .badge {
    color: #428bca;
    background-color: #fff; }
  .pcallme-form fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0; }
  .pcallme-form legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5; }
  .pcallme-form label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold; }
  .pcallme-form input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .pcallme-form input[type="radio"],
  .pcallme-form input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    /* IE8-9 */
    line-height: normal; }
  .pcallme-form input[type="file"] {
    display: block; }
  .pcallme-form input[type="range"] {
    display: block;
    width: 100%; }
  .pcallme-form select[multiple],
  .pcallme-form select[size] {
    height: auto; }
  .pcallme-form input[type="file"]:focus,
  .pcallme-form input[type="radio"]:focus,
  .pcallme-form input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .pcallme-form output {
    display: block;
    padding-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555; }
  .pcallme-form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .pcallme-form .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .pcallme-form .form-control::-moz-placeholder {
    color: #999;
    opacity: 1; }
  .pcallme-form .form-control:-ms-input-placeholder {
    color: #999; }
  .pcallme-form .form-control::-webkit-input-placeholder {
    color: #999; }
  .pcallme-form .form-control[disabled],
  .pcallme-form .form-control[readonly],
  .pcallme-form fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1; }
  .pcallme-form textarea.form-control {
    height: auto; }
  .pcallme-form input[type="search"] {
    -webkit-appearance: none; }
  .pcallme-form input[type="date"] {
    line-height: 34px; }
  .pcallme-form .form-group {
    margin-bottom: 15px; }
  .pcallme-form .radio,
  .pcallme-form .checkbox {
    display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .pcallme-form .radio label,
  .pcallme-form .checkbox label {
    display: inline;
    font-weight: normal;
    cursor: pointer; }
  .pcallme-form .radio input[type="radio"],
  .pcallme-form .radio-inline input[type="radio"],
  .pcallme-form .checkbox input[type="checkbox"],
  .pcallme-form .checkbox-inline input[type="checkbox"] {
    float: left;
    margin-left: -20px; }
  .pcallme-form .radio + .radio,
  .pcallme-form .checkbox + .checkbox {
    margin-top: -5px; }
  .pcallme-form .radio-inline,
  .pcallme-form .checkbox-inline {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer; }
  .pcallme-form .radio-inline + .radio-inline,
  .pcallme-form .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px; }
  .pcallme-form input[type="radio"][disabled],
  .pcallme-form input[type="checkbox"][disabled],
  .pcallme-form .radio[disabled],
  .pcallme-form .radio-inline[disabled],
  .pcallme-form .checkbox[disabled],
  .pcallme-form .checkbox-inline[disabled],
  .pcallme-form fieldset[disabled] input[type="radio"],
  .pcallme-form fieldset[disabled] input[type="checkbox"],
  .pcallme-form fieldset[disabled] .radio,
  .pcallme-form fieldset[disabled] .radio-inline,
  .pcallme-form fieldset[disabled] .checkbox,
  .pcallme-form fieldset[disabled] .checkbox-inline {
    cursor: not-allowed; }
  .pcallme-form .input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px; }
  .pcallme-form select.input-sm {
    height: 30px;
    line-height: 30px; }
  .pcallme-form textarea.input-sm,
  .pcallme-form select[multiple].input-sm {
    height: auto; }
  .pcallme-form .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px; }
  .pcallme-form select.input-lg {
    height: 46px;
    line-height: 46px; }
  .pcallme-form textarea.input-lg,
  .pcallme-form select[multiple].input-lg {
    height: auto; }
  .pcallme-form .modal-title {
    font-size: 20px; }
  .pcallme-form .modal-body {
    padding: 5px 15px; }
  .pcallme-form label span {
    color: #EB1F1F; }
  .pcallme-form .call-form--status {
    float: left;
    line-height: 34px;
    font-size: 16px;
    font-weight: bold;
    min-width: 34px;
    min-height: 34px; }
  .pcallme-form .call-form--status.call-form--status__loading {
    background: url(../img/loader.gif) center left no-repeat; }
  .pcallme-form .call-form--status.call-form--status__err {
    color: #EB1F1F; }
  .pcallme-form .call-form--status.call-form--status__ok {
    color: #198B34; }

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.modal-backdrop.fade {
  opacity: 0; }

.fade.in {
  opacity: 1; }

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000; }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
